body{
  background-color: grey;

background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(93,121,9,1) 35%, rgba(0,201,255,1) 100%);
  font-family: 'Langar', cursive;
}

h1{
  color: rgb(247, 242, 243);
}

.card{
  box-sizing: border-box;
  width: 100%;
  height: auto;
  max-width: 300px;
  max-height: 300px;
 
 
}